*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://png.pngtree.com/background/20230411/original/pngtree-the-open-basketball-court-in-park-aerial-drone-top-view-photo-picture-image_2386053.jpg);
    background-size: cover;
    background-position: center;
}

h1
{
    font-weight: 400;
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 10px;
}

canvas {
    background-image: url(brett.jpg);
    border: 1px solid black;
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 830px;
    margin-bottom: 50px;
    margin-left: 10px;
}

#startButton {
    color: black;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 35px;
    text-transform: uppercase;
    cursor: pointer;
}

.retry-button{
    color: black;
    position: absolute;
    top: 50px;
    left: 85%;
    font-size: 15px;
    padding: 10px;
    transition: background-color 0.3s, transform 0.3s;
    border: 1px solid black;
    border-radius: 10px;
}
 
.retry-button:hover{
    background-color: white;
    transform: scale(1.05);
}